<div id="slyr_catalogue_admin">
	<header>
		<div id="logo-container">
			<img alt="logo sales layer" src="<?php echo SLYR_WC__IMAGES_DIR.SLYR_WC_name_logo; ?>"/>
		</div>
		<h3>How To Start</h3>
		<div id="version-message-container" style="display: none;"></div>
	</header>
	<main id="slyr-catalogue-main">
		<div class="faq-container">
			<p><strong><?php echo SLYR_WC_name; ?></strong> plugin allows you to add your entire catalogue to your WordPress website seamlessly. The plugin automatically imports and syncs all the product information.</p>
			<p>First of all the plugin needs the <strong>connector ID code</strong> and the <strong>private key</strong>. You will find them in the connector details of <strong><?php echo SLYR_WC_company_name; ?></strong>.</p>

			<div class="faq-group">
				<div class="faq-item">
					<div class="faq-question">How to add a connector</div>
					<div class="faq-answer">
						<ol>
							<li>Go to <a href="<?php echo admin_url() ?>admin.php?page=slyr_wc_connectors"><?php echo SLYR_WC_name; ?> &rarr; Connectors</a> and click the <strong>Add connector</strong> button.</li>
							<li>Enter the connection credentials in the modal and confirm.</li>
							<li>Once the connector appears in the list, push <strong>Synchronize</strong> to import categories, products and product variants automatically.</li>
						</ol>
					</div>
				</div>
				<div class="faq-item">
					<div class="faq-question">Requirements for synchronization</div>
					<div class="faq-answer">
						<ol>
							<li><strong>cUrl</strong> extension installed; in order to call and obtain the information from <strong><?php echo SLYR_WC_company_name; ?></strong>.</li>
							<li>Define the fields relationship in the <strong><?php echo SLYR_WC_company_name; ?></strong> WooCommerce connector:
								<ol>
									<li>One size for image fields.</li>
									<li>Most WooCommerce fields are already defined in each section, extra fields for products or product variants will be <strong><a href="<?php echo admin_url() ?>edit.php?post_type=product&page=product_attributes">attributes</a></strong> and they must have been created in WooCommerce in order to synchronize.</li>
									<li>When synchronizing a product that has variants, WooCommerce attributes that are synchronized will be marked as <strong>Used for variations</strong>, then, attribute values from the product and product variants will be combined and assigned to the product. Variations must have only one value for each attribute.</li>
								</ol>
							</li>
						</ol>
					</div>
				</div>
				<div class="faq-item">
					<div class="faq-question">How to synchronize by Cron</div>
					<div class="faq-answer">
						<ol>
							<li>To activate auto-synchronization, make sure to have an active cron job on your server.</li>
							<li>You can add or create cron jobs by adding a command on your console:
								<ol>
									<li><strong>* * * * * wget -q -O - https://yourdomain.com/wp-cron.php</strong></li>
									<li><strong>* * * * * php -q -f /path/to/your/woocommerce/root/directory/wp-cron.php</strong></li>
								</ol>
								<p><em>Remember to replace yourdomain.com with your actual domain or /path/to/your/woocommerce/root/directory with the actual path of your WooCommerce installation.</em></p>
							</li>
						</ol>
					</div>
				</div>
			</div>
		</div>
	</main>
</div>